* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: linear-gradient(115deg, #0e3013 63%, #e8e8e9 60%);
  height: 100vh;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

.d-flex {
  display: flex;
}

header {
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  flex: 1;
}

.nav-right {
  flex: 1;
  color: #e8e8e9;

}

.top-pattern {
  top: 0;
  text-align: end;
  right: 0;
}

.bottom-pattern {
  bottom: 0;
  text-align: start;
}

.top-pattern,
.bottom-pattern {
  position: absolute;
}

.logo {
  width: 90px;
}

li {
  margin-right: 50px;
}

.hero {
  padding: 100px;
}

.title-container {
  flex: 2;
  color: #e8e8e9;
}

.headline {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 400;
}

.slogan {
  font-size: 1.3em;
  font-weight: 300;
}

#btn-menu {
  margin-top: 80px;
  width: 10em;
  height: 2.5em;
  font-size: 1.1em;
  background-color: #289944;
  border: 2px solid #e8e8e9;
  color: #e8e8e9;
}

.main-img {
  max-width: 500px;
  margin-bottom: 30px;
}

.leaves-pattern {
  width: 20%;
}

.veg-pattern {
  width: 40%;
}

.main-img-container {
  flex: 1;
  margin-top: -100px
}

strong {
  color: #289944;
}